<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_basic</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">igdefault</property>

        <!--JDBC connection pool-->
        <property name="connection.pool_size">10</property>

        <!-- SQL Dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--echo all executed SQL-->
        <property name="show_sql">true</property>

        <!--drop or re-create database schema at startup-->
        <property name="hbm2ddl.auto">create</property>

        <!--Annotated entity class-->
        <!--<mapping class="com.ttn.entity.inheritence.mappedSuperclass.DebitAccount"/>-->
        <mapping class="com.ttn.entity.inheritence.single_table.Account"/>
        <mapping class="com.ttn.entity.inheritence.single_table.DebitAccount"/>
        <!--<mapping class="com.ttn.entity.one_to_many.unidirectional.Employee"/>-->
        <!--<mapping class="com.ttn.entity.one_to_many.unidirectional.Vehicle"/>-->
        <!--<mapping class="com.ttn.entity.one_to_many.bydirectional.Vehicle"/>-->
        <!--<mapping class="com.ttn.entity.one_to_many.bydirectional.Employee"/>-->
        <!--<mapping class="com.ttn.entity.many_to_one.Vehicle"/>-->
        <!--<mapping class="com.ttn.entity.many_to_one.Employee"/>-->
    </session-factory>
</hibernate-configuration>